<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-LD_KP-20180823110000.mdf;Initial Catalog=aspnet-LD_KP-20180823110000;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SqlConnection" connectionString="Data Source=47.100.179.89;Initial Catalog=LDXX;Persist Security Info=True;User ID=sa;Password=work1.hard"/>
    <add name="SqlConnection160" connectionString="Data Source=47.100.107.160;Initial Catalog=LVDU_MDM;Persist Security Info=True;User ID=sa;Password=SHUjv.18"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--EOP获取用户信息-->
    <!--测试-->
    <!--<add key="Url" value="http://119.3.14.11:8068" />-->
    <!--正式-->
    <add key="Url" value="https://eop.lvdu-dc.com:443" />

    <!--设置单点登录-->
    <add key="WebServiceBaseUrl" value="http://zsjtest.lvdu-dc.com:83/"/>
    <add key="AuthSSO_SSOLoginUrl" value="http://zsjtest.lvdu-dc.com:83/AdminMain/GetUserToken"/>
    <add key="AuthSSO_ReceiveTokenUrl" value="http://localhost:39398/YQ/EmployeeList?tokenType=pc"/>
    <add key="AuthSSO_ReceiveTokenUrlKP" value="http://localhost:39398/KP/Index?tokenType=pc"/>
    <add key="AuthSSO_HeaderUserName" value="zldc"/>
    <add key="AuthSSO_HeaderPassword" value="zldc.com"/>
    <add key="AuthSSO_AppID" value="28"/>
    <add key="AuthSSO_AppIDKP" value="29"/>
    <add key="AuthSSO_SecretKey" value="fEqNCco3Yq9h5ZUglD3CZJT4lBs="/>

    <!--自定义-->
    <add key="appid" value="wxde27e835a9433a6d" />
    <!--appid == CorpID-->
    <add key="appsecret" value="DlXSZuUd8Qq-MLDU-_KiMtuD1U52E5XSEjCFvS7rC_w" />
    <!--appid == CorpID-->
    <add key="appsecretYQ" value="F8Id06WKqD6aVx1wSe60VRkSUrgBnPCHEpSkpI8obOE" />
    <!--appsecret == Secret-->
    <add key="ConversationSecret" value="1l45o_V_cQVPSRtWk8QDBL4a-JdL-0uqMLH7WYXCRUGsbNoTlbCGHav1gP2fOq0z" />
    <!--appsecret == Secret-->
    <add key="port" value="55896" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!--<globalization   fileEncoding="gb2312" requestEncoding="gb2312" responseEncoding="gb2312" culture="zh-CN" />-->
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>